html
    head
        title= "Real time web chat"
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script(src='/chat.js')
        script(src='/socket.io/socket.io.js')
    body
        #content(style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
        .controls
        | Name: 
        input#name(style='width:350px;')
        br
        input#field(style='width:350px;')
        input#send(type='button', value='send')